html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
    margin:0;
    padding:0;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
fieldset,img {
    border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-style:normal;
    font-weight:normal;
}
ol,ul {
    list-style:none;
}
caption,th {
    text-align:left;
}
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border:0;
    }


.visually-hidden{
	visibility:hidden
}

figure,header,main,nav,section{
	display:block}

button,html{
	font-family: "Exo 2", sans-serif}

a {
	text-decoration: none;
}

h1{
	font-size: 2.4rem;
	line-height: 1.4em;
	font-weight: 700;
	font-family: 'Playfair Display','Exo 2', sans-serif;
}
h2{
	font-size: 1.4rem;
	line-height: 1.2em;
	font-weight: 200;
	font-family: 'Exo 2', sans-serif;
}

h3{
	font-size: .7rem;
	line-height: 1.2em;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 700;
	font-family: 'Exo 2', sans-serif;
	letter-spacing: .1rem;
}

p{
	font-size: 1rem;
	line-height: 1.8rem;
	color: #777;
}

a{
	color:#666;
}

a:hover{
	background-color: #F9CED0;
	color:#e30913;
	text-decoration: none;
}


@media (max-width:1000px){
	h1{
		font-size: 2rem;
		line-height: 1.5em;
	}
	h2{
		font-size: 1.5rem;
	}
	h3{
		font-size: .8rem;
	}
}

@media (max-width:600px){
	h1{
		font-size: 1.8rem;
	}
	h2{
		font-size: 1.8rem}
}

figure{
	margin:0}

body{
	font-size:1em}

img{
	vertical-align:middle}

body, html, main{
	height:100%;
}

html{
	font-size:1.125em}

body{
	background:#fff;
	color:#000;
	margin:0;
	padding:0;
	font-family: 'Open Sans', Helvetica,Arial,Sans-Serif,sans-serif;
	font-weight:300;
	font-style:normal;
	line-height:1;
	-webkit-font-smoothing:antialiased;
	text-rendering:optimizeLegibility}

::selection{
	background:#e30913;
	color: #fff;
}

header{
	top:0;
	padding:0;
}

.wipe-overlay{
	position: fixed;
	top: 0;
	bottom: 0;
	z-index: 2000;
	background: #e30913;
	height: 100%;
	width: 100%;
	transition: height 1s;
	transition-delay: .3s;
}

.wf-active{
	display:block;
}

.wf-active .wipe-overlay{
	height: 0;
}

.contact-links__item__title,h1,h2{
	margin-top:0}

.tile{
	position:relative;
}

.js.wf-loading{
	visibility: hidden;
}

.js header,.js main{
	opacity: 0;
	transition: opacity 0;
}

.js.wf-active header,.js.wf-active main,.js.wf-inactive header,.js.wf-inactive main{
	opacity: 1;
	transition: opacity 1s cubic-bezier(0.25,.5,.5,.90);
}

.js.wf-active main,.js.wf-inactive main{
	transition-delay: 2s;
}

.tile-nav{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 180px;
	z-index: 1500;
}

@media (min-width: 600px){
	.tile-nav{
		height: 140px;
	}
}

.logo{
	position: absolute;
	top: 50px;
	left: 25px;
	width: 30px;
	z-index: 900;
}

.logo img{
	width: 30px;
	padding: 5px;
}

.logo img a{
	width: 100%;
}

.logo img:hover{
	background-color: #fff;
}

@media (min-width: 600px){
	.logo{
		left: 5%;
	}
}

.nav, .nav-about{
	position: absolute;
	top: 70px;
	right: 5%;
	z-index: 900;
}

.nav ul li{
	display: inline;
	padding-left: 40px;
}

.nav ul li a, .nav-fixed ul li a{
	padding: 2px 5px;
}

.nav-about{
	width: 24px;
	height: 24px;
	opacity: 80%;
	padding: 5px;
}

.nav-about:hover{
	opacity: 100%;
	background-color: #e30913;
}

.nav-about a img{
	width: 24px;
}

.nav-about a:hover{
	background-color: #e30913;
}

@media (max-width: 600px){
	.nav-about{
		position: absolute;
		top: 30px;
		right: 5%;
		z-index: 900;
	}
	.nav-mobile-hidden{
		display: none;
	}
}

.nav-fixed{
	background-color: #777;
	display: none;
	position: fixed;
	float: left;
	top: 60px;
	right: 5%;
	width: 120px;
	height: 40px;
	padding: 0;
	z-index: 900;
}

.nav-fixed ul li{
	display: inline;
	padding: 0 20px;
}

.about{
	display: none;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	right: 0;
	background-color: #212121;
	z-index: 1400;
}

.tile-about{
	position: absolute;
	left: 5%;
	top: 70px;
	width: 50%;
	max-width: 700px;
	height: 90%;
	display: inline-block;
	text-align: left;
	z-index: 1500;
}

@media (max-width: 600px){
	.tile-about{
		width: 90%;
	}
}

.text-about{
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	text-align: left;
}

.text-about p{
	color: #eaeaea;
}

.text-about p:nth-child(2){
	padding-top: 20px;
}

.text-about p{
	padding-top: 10px;
}

.text-about h1{
	color: #fff;
	font-weight: 700;
}

.link-about{
	color: #FA3C45;
}

.about-image{
	position: absolute;
	z-index: 900;
	max-height: 550px;
	max-width: 550px;
	width: 35%;
	display: inline-block;
	right: 5%;
	top: 20%;
}

.about-image img{
	width: 100%;
}

@media (max-width: 1100px){
	.text-about-mobile-hidden{
		display:none;
	}
	.about-image{
		max-width: 350px;
		width: 35%;
	}
}

@media (max-width: 600px){
	.text-about p:nth-child(2){
		padding-top: 10px;
	}
	.text-about-mobile-hidden{
		display:none;
	}
	.about-image{
		display: none;
	}
}

.tile-header {
    display:block;
    width: 100%;
    height: 50%;
	z-index: 700;
	background-color: #fff;
}

.header-title{
	position: absolute;
    text-align: left;
    width: 70%;
	max-width: 1500px;
    top: 200px;
    left: 5%;
    z-index: 850;
}

.header-title h1{
	color: #616161;
	font-weight: 400;
}

@media (min-width: 2500px){
	.tile-header{
		height: 40%;
	}
}

@media (max-width: 1000px){
	.header-title{
		top: 150px;
		width: 80%;
	}
}

@media (max-width: 600px){
	.tile-header{
		height: 60%;
	}
	.header-title{
		width: 90%;
	}
}

.case-title h1{
	color: #000000;
}

.black-title h1{
	color: #000;
}

.anchor{
	display: none;
	position: fixed;
	float: left;
	top: 20px;
	left: 5%;
	z-index: 1400;
}

.anchor-button, .close-case{
	opacity: .8;
}

.anchor-button img{
	width: 40px;
}

.anchor-button:hover, .close-case:hover{
	opacity: 1;
}

@media (max-width: 600px){
	.anchor, .anchor-button{
		display: none;
	}
}

.projects-container{
	top: 0;
	height: auto;
	width: 100%;
	padding-top: 0;
	margin: 0 auto 0 auto;
	z-index: 800;
}

.tile-case{
	float: left;
	width: 100%;
	height: auto;
}

.tile-image{
	width: 100%;
	height: auto;
  background-color: #000;
}

.tile-image img{
	width: 100%;
	height: 100%;
}

figure img{
	opacity: 0;
	transition: opacity .3s ease-in;
}

.tile-image video{
	width: 100%	!important;
	height: auto !important;
	max-height: 100%;
}

.bg-black{
	background-color: #000;
}

.bg-black img{
	opacity: .3;
}

.tile-tag{
	width: 100%;
}

.title-case{
	text-align: left;
	width: 60%;
	margin: 65px auto 0 auto;
	max-width: 650px;
}

.description {
	text-align: left;
	width: 60%;
	max-width: 650px;
	margin: 1em auto;
	line-height: 1.5;
}

.description h1{
	padding-bottom: 1em;
}

.description p{
	padding-top: 1em;
}

.tile-contact-bottom{
	clear: both;
	width: 100%;
	padding: 7em 0;
	background-color: #e7e7e7;
}

.contact-bottom-container{
	margin: 0 auto;
	width: 80%;
}

.contact-bottom-title {
	width: 100%;
	display: block;
	text-align: center;
}

@media (max-width: 600px){
	.tile-contact-bottom{
		padding: 4em 0 2em 0;
	}
}

.button{
	display: block;
	width: 200px;
	height: 60px;
	margin: 4em auto 10em auto;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	background-color: #e30913;
	color: #fff;
	border-radius: 5px;
	letter-spacing: .1em;
	font-size: .8rem;
	line-height: 60px;
}

.button:hover{
	color:#fff;
	background-color: #c60e1c;
}

@media (max-width: 600px){
	.button{
		margin: 4em auto;
	}
}

.button-text{
	background-color: #444;
}

@media (min-width: 600px){
	.tile-article{
		padding: 10em 0 5em 0;
	}
}

.tile-case-header{
    text-align: left;
    width: 90%;
    max-width: 800px;
    padding-top: 15em;
    margin: 0 0 4em 5%;
}

@media (max-width: 1200px){
	.tile-case-header{
		padding-top: 10em;
		margin-bottom: 2em;
	}
}

.button-case-header-container{
	position: absolute;
	right: 5%;
	top: 17em;
	margin-bottom: 4em;
	padding: 0;
}

@media (max-width: 1200px){
	.button-case-header-container{
		position: relative;
		top: 0;
		width: 60%;
		left: 5%;
		margin-bottom: 2em;
	}
}

.button-case-header{
	margin: 0 0 1em 0;
	padding: 0;
}

.download-button{
	display: block;
	width: 120px;
	height: 40px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	background-color: #e30913;
	border: 2px solid #e30913;
	border-radius: 5px;
	letter-spacing: .1em;
	font-size: .8rem;
	line-height: 40px;
}

.download-button:hover{
	color: #fff;
}

.tile-case-description{
	text-align: left;
  	width: 75%;
  	max-width: 800px;
  	padding: 8em 5% 8em 5%;
}

@media (max-width: 600px){
	.tile-case-description{
		padding: 4em 100% 4em 5%;
	}
}

.tile-case-description h3, .tile-case-description h2{
	padding-bottom: 1em;
}

.tile-case-description-dark{
  background-color: #000000;
}

.tile-case-description-dark h2, .tile-case-description-dark h3{
  color: #ffffff;
}

.button-case-description {
  margin: 3em 2em 0 0;
  display: inline-block;
}

.tile-case-description-second {
  margin-top: 4em;
}

.video-overlay {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
}

.play-button{
	position: absolute;
	width: 10%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}

.play-button img{
	opacity: .8;
}

.play-button img:hover{
	opacity: 1;
}

.video {
    margin: 0;
    padding: 0;
    width: 100%	!important;
    height: auto !important;
    max-height: 100%;
    z-index: 900;
}
